/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 40px;
    font-family: "open-sans", "open sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    background: #3498db;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #fff;
    font-size: 80px;
}

.navbar-inverse {
    background: #21618b;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #184665;
}

.navbar-nav {
    margin: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a i {
    font-size: 34px;
    margin-top: -3px;
    margin-bottom: -5px;
    margin-right: 5px;
}

.navbar-collapse {
    padding: 0;
}

.btn, input, .form-control {
    border-radius: 0;
}

.top10 {
    margin-top: 10px;
}

.top30 {
    margin-top: 30px;
}

.top7 {
    margin-top: 7px;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.top30 {
    margin-top: 30px;
}

.top15 {
    margin-top: 15px;
}

.padding15 {
    padding: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

.nopadding {
    padding: 0;
}

.user-logged-in {
    font-size: 30px;
    color: #fff;
    margin-top: 60px;
}

.sidebar {
    background: #fff;
}

.sidebar h2 {
    background: #3f3f3f;
    color: #fff;
    margin: -15px -15px 15px;
    padding: 15px;
}

.playlist {
    background: #3f3f3f;
    color: #fff;
}

.player {
    background: #fff;
}

.progress {
    margin: 19px 0;
    border-radius: 0;
    overflow: visible;
    background: #c3c4c5;
    height: 5px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 5px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #c3c4c5;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
}

.progress-bar:after {
    content: '';
    background: #1F1F1F;
    height: 7px;
    width: 7px;
    display: block;
    right: 0;
    top: -1px;
    position: absolute;
}

.player-options {
    font-size: 22px;
    padding: 5px 15px;
}

.player-options .time {
    font-size: 14px;
    top: -2px;
    position: relative;
    margin-left: 5px;
}

.cover, .voting, .song-information {
    vertical-align: top;
    display: inline-block;
}

.song-information {
    padding-top: 5px;
}

.voting {
    text-align: center;
    padding-right: 10px;
}

.voting i {
    font-size: 28px;
    display: block;
}

.users {
    background: #ffffff;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

ul.nav.nav-tabs {
    background: #efefef;
    padding: 0 15px;
    margin: 0 -15px;
}

div.tab-content {
    margin: 0 -15px -15px -15px;
    padding: 20px;
    background: #fff;
}

.settings, .settings ul.nav.nav-tabs {
    background: #3f3f3f;
}

/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white;
/ / In yourUse @body-bg opacity : 0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
    background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}

.omb_login .omb_loginForm .help-block {
    color: red;
}

@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    .user-logged-in {
        margin-top: 0;
    }
}

.settings h2 {
    color: #fff;
}

.settings .nav-tabs > li > a {
    color: #fff;
    border-radius: 0;
}

.settings .nav-tabs > li.active > a, .settings .nav-tabs > li.active > a:hover, .settings .nav-tabs > li.active > a:focus {
    color: #555;
}

.settings .nav-tabs > li > a:hover {
    color: #555;
}