{% extends "index.twig" %}

{% block content %}
    <div class="container top30">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8">

                <div class="playlist padding15">


                    <div class="media">
                        <a class="pull-left cover" href="#">
                            <img src="/View/Assets/img/demo_queen.png"
                                 alt="Queen"/>
                        </a>

                        <div class="media-body">
                            <div class="voting">
                                <i class="fa fa-caret-up"></i>
                                12
                                <i class="fa fa-caret-down"></i>
                            </div>
                            <div class="song-information">
                            Step out<br/>
                            José González<br/>
                            Soundtrack: The Live of Walter Mitty
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar padding15">
                    <h2>Installation</h2>

                    <p>A small river named Duden flows by their place and
                        supplies
                        it with the necessary regelialia. It is a
                        paradisematic country, in which roasted parts of
                        sentences
                        fly into your mouth. </p>


                </div>
            </div>
        </div>

    </div>


{% endblock %}
