{% extends "index.twig" %}

{% block content %}
    <div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-8 top30">

    <div class="settings padding15">
    <h2>Settings</h2>
    <ul class="nav nav-tabs">

        <li class="active">
            <a href="#messages" data-toggle="tab">Upload</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

    <div class="tab-pane active" id="messages">
        <form class="form-horizontal">
            <fieldset>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton">Import Songs</label>
                    <div class="col-md-4">
                        <a href="{{ offset }}/Settings/Import" name="singlebutton" class="btn btn-primary">Start import</a>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 top30">
        <div class="sidebar padding15">
            <h2>Settings</h2>

            <p>Here you can change the settings to alter the appearance and functionality of voteplayer. </p>


        </div>
    </div>
    </div>

    </div>


{% endblock %}
