{% extends "index.twig" %}

{% block content %}
    <div class="container ">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8 top30">

                <div class="title padding15">
                    <h2>Edit User</h2>
                </div>
                <div class="users padding15">
                    <form class="form-horizontal" action="{{ offset }}/Users" method="post">
                        <fieldset>


                            <input id="id" name="id" type="hidden"
                                   value="{{ user.id }}">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Username</label>

                                <div class="col-md-4">
                                    <input id="textinput" name="username" type="text"
                                           placeholder="Username"
                                           value="{{ user.username }}"
                                           class="form-control input-md">
                                    <span class="help-block">Only characters and numbers.</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Password</label>

                                <div class="col-md-4">
                                    <input id="textinput" name="password" type="password"
                                           placeholder="Password"
                                           value="{{ user.password }}"
                                           class="form-control input-md">
                                    <span class="help-block">At least 6 Characters</span>
                                </div>
                            </div>

                            <!-- Multiple Checkboxes -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="checkboxes">Options </label>

                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label for="checkboxes-0">
                                            <input type="checkbox" name="checkboxes"
                                                   id="checkboxes-0" value="1">
                                            Can add songs automatically.
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="checkboxes-1">
                                            <input type="checkbox" name="checkboxes"
                                                   id="checkboxes-1" value="2">
                                            Can add songs to playlist.
                                        </label>
                                    </div>
                                </div>
                            </div>



                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">Groups</label>

                                <div class="col-md-4">
                                    <select id="selectbasic" name="selectbasic"
                                            class="form-control" multiple>
                                        <option value="1">Administrator</option>
                                        <option value="2">User</option>
                                        <option value="2">Moderator</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label"
                                       for="singlebutton"></label>

                                <div class="col-md-4">
                                    <button id="singlebutton" name="submit"
                                            class="btn btn-primary">Save
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>


                </div>
            </div>
            <div class="col-md-4 top30">
                <div class="sidebar padding15">
                    <h2>Installation</h2>

                    <p>A small river named Duden flows by their place and
                        supplies
                        it with the necessary regelialia. It is a
                        paradisematic country, in which roasted parts of
                        sentences
                        fly into your mouth. </p>


                </div>
            </div>
        </div>

    </div>


{% endblock %}
