{% extends "index.twig" %}

{% block content %}
    <div class="container top30">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8">

                <div class="users padding15">
                    <h2>Users</h2>
                    {{ text }}


                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar padding15">
                    <h2>Installation</h2>

                    <p>A small river named Duden flows by their place and
                        supplies
                        it with the necessary regelialia. It is a
                        paradisematic country, in which roasted parts of
                        sentences
                        fly into your mouth. </p>


                </div>
            </div>
        </div>

    </div>


{% endblock %}
